<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="shopinWebsite_Test_Suite" preserve-order="true" parallel="classes" thread-count="4">


    <!--  test groups -->
    <groups>
        <run>
            <include name="SMOKETEST"/>
            <exclude name="OMITIR"/>
        </run>
    </groups>

    <!--  test listeners -->


    <!--  suite parameters -->
    <parameter name="environment" value="local"/>
    <parameter name="platform" value="Windows 10"/>

    <!--  tests -->

<!--
    <test name="Open Website">
        <parameter name="includePattern" value="" />
        <parameter name="excludePattern" value="" />
        <classes>
            <class name="testObjects.BaseTest"/>
        </classes>
    </test> -->

    <!--
    <test name="Testsuite firefox con muchas comillas">
        <parameter name="includePattern" value="" />
        <parameter name="excludePattern" value="" />
        <parameter name="browser" value="firefox"></parameter>
        <classes>
            <class name="testObjects.signInTest"/>
        </classes>
    </test> -->

    <test name="Testsuite chrome con muchas comillas">
        <!--<parameter name="includePattern" value="" />
        <parameter name="excludePattern" value="" />-->
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="testObjects.signInTest"/>
        </classes>
    </test>

    <!--<test name="Testsuite internet explorer con muchas comillas">
        <parameter name="includePattern" value="" />
        <parameter name="excludePattern" value="" />
    <parameter name="browser" value="internet explorer"></parameter>
     <classes>
         <class name="testObjects.signInTest"/>
     </classes>
 </test> -->


</suite>